doctype html
//
  Au<!--
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    title Parallel pizza
    // css
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/font-awesome.css', rel='stylesheet')
    // css
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    script(src='js/jquery.min.js')
    link(href='//fonts.googleapis.com/css?family=Cagliostro', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300', rel='stylesheet', type='text/css')
    // search jQuery
    script(src='js/main.js')
    // search jQuery
    // mycart
    script(type='text/javascript', src='js/bootstrap-3.1.1.min.js')
    // cart
    script(src='js/simpleCart.min.js')
    // cart
  body
    - var total = cart.reduce((acc ,curr) => acc + curr.price, 0)
    // header
    .header
      .header-top
        .container
          .top-right
            ul
              if user
                li
                  a(href='/checkout') Checkout
                li(style="color: white;")
                  span Welcome,&nbsp;
                  span= user.email
                li
                  a(href='/logout') Logout
              if !user
                li
                  a(href='/login') Login
                li
                  a(href='/register')  Create Account 
          .clearfix
      .heder-bottom
        .container
          .logo-nav
            .logo-nav-left
              h1
                a(href='/')
                  | PARALLEL
                  span 	    PIZZA
            .logo-nav-left1
              nav.navbar.navbar-default
                // Brand and toggle get grouped for better mobile display
                .navbar-header.nav_2
                  button.navbar-toggle.collapsed.navbar-toggle1(type='button', data-toggle='collapse', data-target='#bs-megadropdown-tabs')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #bs-megadropdown-tabs.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li.active
                      a.act(href='/') Home
                    // Mega Menu
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Pizza
                        b.caret
                      ul.dropdown-menu.multi-column.columns-3
                        .row
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Crust
                              li
                                a(href='/product') Crispy Thin
                              li
                                a(href='/product') Cheese Crust
                              li
                                a(href='/product') Extreme Sausage
                              li
                                a(href='/product') Pan
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Pizza menu
                              li
                                a(href='/product') Hawaiian
                              li
                                a(href='/product') Seafood Deluxe
                              li
                                a(href='/product') Seafood Cocktail
                              li
                                a(href='/product') Super Deluxe
                              li
                                a(href='/product') Chicken Trio
                              li
                                a(href='/product') Shrimp Cocktail
                              li
                                a(href='/product') Tropical Seafood
                              li
                                a(href='/product') Double Pepperoni
                              li
                                a(href='/product') Bacon Super Delight
                          .col-sm-3.multi-gd-img
                            a(href='/product')
                              img(src='images/woo.jpg', alt=' ')
                          .col-sm-3.multi-gd-img
                            a(href='/product')
                              img(src='images/woo1.jpg', alt=' ')
                          .clearfix
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Ingredient 
                        b.caret
                      ul.dropdown-menu.multi-column.columns-3
                        .row
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Meat
                              li
                                a(href='/product1') BBQ Chicken
                              li
                                a(href='/product1') Bacon Bits
                              li
                                a(href='/product1') Crab Stick
                              li
                                a(href='/product1') Garlic Butter Chicken
                              li
                                a(href='/product1') Pepperoni
                              li
                                a(href='/product1') Prawn
                              li
                                a(href='/product1') Seafood
                              li
                                a(href='/product1') Smoked Pork Sausage
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Vegetable
                              li
                                a(href='/product1') Capsicum
                              li
                                a(href='/product1') Mushrooms
                              li
                                a(href='/product1') Onions
                              li
                                a(href='/product1') Pineapple
                              li
                                a(href='/product1') Red & Green Chilli
                              li
                                a(href='/product1') Tomato
                          .col-sm-3.multi-gd-img
                            a(href='/product1')
                              img(src='images/woo3.jpg', alt=' ')
                          .col-sm-3.multi-gd-img
                            a(href='/product1')
                              img(src='images/woo4.jpg', alt=' ')
                          .clearfix
                    li.active
                      a.act(href='/order') Order Pizza
            .header-right2
              .cart.box_1
                - var count = cart.length
                a(href='/checkout')
                  h3
                    .total
                      span $
                      span= total
                      span .00
                      |  (
                      span= count
                      |  items)
                    img(src='images/bag.png', alt='')
                p
                  a.simpleCart_empty(href='javascript:;') Cart
                .clearfix  
            .clearfix  
    // header
    // banner
    .banner1
      .container
        h3
          a(href='/') Home
          |  / 
          span Checkout
    // banner
    // content
    .content
      .cart-items
        .container
          - var count = cart.length || 0;
          h2 My Shopping Bag (
            span= count
            span )
          script.
            $(document).ready(function(c) {
            $('.close1').on('click', function(c){
            $('.cart-header').fadeOut('slow', function(c){
            $('.cart-header').remove();
            });
            });
            });
          each val in cart
            .cart-header
              .cart-sec.simpleCart_shelfItem
                .cart-item.cyc
                .cart-item-info
                  h3
                    span Crust
                    a(href='#')= val.crust
                  h3
                    span Size
                    a(href='#')= val.size
                  h3
                    span Toppings
                    ul
                      each item in val.topping
                        li= item
                  br
                  br
                  span
                    span Price: 
                    span $
                    span= val.price
                    span .00
                .clearfix
          .pull-right
            h2 Total:
              span $
              span= total
              span .00

          h2= message
          if message
            a.btn.btn-primary(href="/") Go Home    
          if !message
            form(action="/checkout", method="post")        
              button.btn.btn-primary(type="Submit") Checkout    

      // checkout
    .copy-section
      .container
        .copy-left
          p
            | © Parallel pizza | Design by 
            a(href='http://w3layouts.com') W3layouts
        .clearfix
