doctype html
//
  Au<!--
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    title Parallel pizza
    // css
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    // css
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    script(src='js/jquery.min.js')
    link(href='//fonts.googleapis.com/css?family=Cagliostro', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300', rel='stylesheet', type='text/css')
    
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-multiselect.css')
    script(type='text/javascript', src='js/bootstrap-multiselect.js')
    // search jQuery
    script(src='js/main.js')
    // search jQuery
    // mycart
    script(type='text/javascript', src='js/bootstrap-3.1.1.min.js')
    // cart
    script(src='js/simpleCart.min.js')
    // cart

   
  body
    // header
    - var total = cart.reduce((acc ,curr) => acc + curr.price, 0)
    .header
      .header-top
        .container
          .top-right
            ul
              if user
                li
                  a(href='/checkout') Checkout
                li(style="color: white;")
                  span Welcome,&nbsp;
                  span= user.email
                li
                  a(href='/logout') Logout
              if !user
                li
                  a(href='/login') Login
                li
                  a(href='/register')  Create Account 
          .clearfix
      .heder-bottom
        .container
          .logo-nav
            .logo-nav-left
              h1
                a(href='/')
                  | PARALLEL
                  span 	    PIZZA
            .logo-nav-left1
              nav.navbar.navbar-default
                // Brand and toggle get grouped for better mobile display
                .navbar-header.nav_2
                  button.navbar-toggle.collapsed.navbar-toggle1(type='button', data-toggle='collapse', data-target='#bs-megadropdown-tabs')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #bs-megadropdown-tabs.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a.act(href='/') Home
                    // Mega Menu
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Pizza
                        b.caret
                      ul.dropdown-menu.multi-column.columns-3
                        .row
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Crust
                              li
                                a(href='/product') Crispy Thin
                              li
                                a(href='/product') Cheese Crust
                              li
                                a(href='/product') Extreme Sausage
                              li
                                a(href='/product') Pan
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Pizza menu
                              li
                                a(href='/product') Hawaiian
                              li
                                a(href='/product') Seafood Deluxe
                              li
                                a(href='/product') Seafood Cocktail
                              li
                                a(href='/product') Super Deluxe
                              li
                                a(href='/product') Chicken Trio
                              li
                                a(href='/product') Shrimp Cocktail
                              li
                                a(href='/product') Tropical Seafood
                              li
                                a(href='/product') Double Pepperoni
                              li
                                a(href='/product') Bacon Super Delight
                          .col-sm-3.multi-gd-img
                            a(href='/product')
                              img(src='images/woo.jpg', alt=' ')
                          .col-sm-3.multi-gd-img
                            a(href='/product')
                              img(src='images/woo1.jpg', alt=' ')
                          .clearfix
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Ingredient 
                        b.caret
                      ul.dropdown-menu.multi-column.columns-3
                        .row
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Meat
                              li
                                a(href='/product1') BBQ Chicken
                              li
                                a(href='/product1') Bacon Bits
                              li
                                a(href='/product1') Crab Stick
                              li
                                a(href='/product1') Garlic Butter Chicken
                              li
                                a(href='/product1') Pepperoni
                              li
                                a(href='/product1') Prawn
                              li
                                a(href='/product1') Seafood
                              li
                                a(href='/product1') Smoked Pork Sausage
                          .col-sm-3.multi-gd-img
                            ul.multi-column-dropdown
                              h6 Vegetable
                              li
                                a(href='/product1') Capsicum
                              li
                                a(href='/product1') Mushrooms
                              li
                                a(href='/product1') Onions
                              li
                                a(href='/product1') Pineapple
                              li
                                a(href='/product1') Red & Green Chilli
                              li
                                a(href='/product1') Tomato
                          .col-sm-3.multi-gd-img
                            a(href='/product1')
                              img(src='images/woo3.jpg', alt=' ')
                          .col-sm-3.multi-gd-img
                            a(href='/product1')
                              img(src='images/woo4.jpg', alt=' ')
                          .clearfix
                    li.active
                      a.act(href='/order') Order Pizza
            .header-right2
              .cart.box_1
                - var count = cart.length
                a(href='/checkout')
                  h3
                    .total
                      span $
                      span= total
                      span .00
                      |  (
                      span= count
                      |  items)
                    img(src='images/bag.png', alt='')
                p
                  a.simpleCart_empty(href='javascript:;') Cart
                .clearfix  
            .clearfix   
    // header
    // banner
    .banner1
      .container
        h3
          a(href='/') Home
          |  / 
    // banner
    // content
    .content
      .container
        br
        h3.text-center Pizza
        br
        form(action="/order", method="post")
          .form-group
            label Crust
            select.form-control(name="crust")
              option(value='Crispy Thin') Crispy Thin
              option(value='Cheese Crust') Cheese Crust
              option(value='Extreme Sausage') Extreme Sausage
              option(value='Extreme Cheese Crust') Extreme Cheese Crust
              option(value='Pan') Pan
          .form-group
            label Size
            select.form-control(name="size")
              option(value='Small') Small
              option(value='Medium') Medium
              option(value='Large') Large
          .form-group
            label Pizza menu
            select.form-control(name="menu")
              option(value="Hawaiian") Hawaiian
              option(value="Seafood Deluxe") Seafood Deluxe
              option(value="Seafood Cocktail") Seafood Cocktail
              option(value="Super Deluxe") Super Deluxe
              option(value="Chicken Trio") Chicken Trio
              option(value="Shrimp Cocktail") Shrimp Cocktail
              option(value="Tropical Seafood") Tropical Seafood
              option(value="Double Pepperoni") Double Pepperoni
              option(value="Bacon Super Delight") Bacon Super Delight
          .form-group
            label Toppings
            br
            select.form-control#toppings(name="topping", multiple='multiple')
              option(value="BBQ Chicken") BBQ Chicken
              option(value="Bacon Bits") Bacon Bits
              option(value="Crab Stick") Crab Stick
              option(value="Garlic Butter Chicken") Garlic Butter Chicken
              option(value="Pepperoni") Pepperoni
              option(value="Prawn") Prawn
              option(value="Seafood") Seafood
              option(value="Smoked Pork Sausage") Smoked Pork Sausage
              option(value="Capsicum") Capsicum
              option(value="Mushrooms") Mushrooms
              option(value="Onions") Onions
              option(value="Pineapple") Pineapple
              option(value="Red & Green Chilli") Red & Green Chilli
              option(value="Tomato") Tomato
          button.btn.btn-primary(type="submit") Order
          br
          br
    // content
    .copy-section
      .container
        .copy-left
          p
            | © Parallel pizza | Design by 
            a(href='http://w3layouts.com') W3layouts
        .clearfix
